<%- include("./partials/head") %>

	<body>
		<!-- HEADER -->
		<%- include("./partials/headerNoLogueado") %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrate</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<form action="/users/" method="GET"> <!-- aca antes decia login.html -->
						<label>EMAIL </label><input type="email" placeholder="EMAIL"> <br><br>
						<label>NOMBRE DE USUARIO </label><input type="text" placeholder="USUARIO"><br><br>
						<label>CONTRASEÑA </label><input type="password" placeholder="CONTRASEÑA"><br><br>
						<label>FECHA DE NACIMIENTO </label><input type="date" placeholder="FECHA NACIMIENTO"><br><br>
						<label>NUMERO DE DOCUMENTO </label><input type="number" placeholder="NRO DOCUMENTO"> <br><br>
						<label>FOTO DE PERFIL </label><input type="file" placeholder="FOTO DE PERFIL"><br><br> 
						<button type="submit"> REGISTRARME </button><br><br>
					</form>
					<div class="col-md-6 text-center">
						<img src="/images/users/defaultPP.png" alt="fotaca" class="img-fluid smaller-image">
					</div>



					<!-- FOOTER -->
					<%- include("./partials/footer") %>

	</body>

	</html>